#hawtio-header-toolbar .pf-c-toolbar__content-section {
  justify-content: end;
}

#hawtio-header-user-dropdown-toggle {
  display: flex;
}

#hawtio-header-user-dropdown-toggle .pf-c-dropdown__toggle-text {
  margin-left: 5px;
}
