#hawtio-header {
  display: grid;
}

#hawtio-header-brand {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: var(--pf-t--global--background--color--200);
}

#hawtio-header-brand .pf-v6-c-brand {
  max-height: 50px;
  margin-right: 1em;
}

#hawtio-header-toolbar .pf-v6-c-toolbar__content-section {
  justify-content: end;
}

#hawtio-header-user-dropdown-toggle {
  display: flex;
}

#hawtio-header-user-dropdown-toggle .pf-v6-c-dropdown__toggle-text {
  margin-left: 5px;
}

.pf-v6-c-menu__item a {
  text-decoration: none;
  color: unset;
}
