build
coverage
dist
.yarn

# any directories specifically labelled ignore
**/ignore/**

# Ignore generated camel model (need to fix generator to fix all the linting errors)
/packages/camel-model/src/*.json
